.popup__input {
    border: 0;
    width: 358px;
    font-size: 14px;
    line-height: 17px;
    padding: 0 0 10px;
    margin: 0 0 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media (max-width: 720px) {
    .popup__input {
        width: 238px;
        padding-top: 5px;
    }
}