.elements__button {
    border: none;
    background-color: #FFFFFF;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.elements__button:hover {
    opacity: .5;
    cursor: pointer;
}