.elements__cards {
    display: grid;
    grid-template-columns: repeat(3, 282px);
    row-gap: 20px;
    column-gap: 17px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    max-width: 880px;
}


@media (max-width: 1000px) {
    .elements__cards {
        grid-template-columns: repeat(2, 282px);
        max-width: 581px;
    }
}

@media (max-width: 720px) {
    .elements__cards {
        grid-template-columns: repeat(1, 282px);
        max-width: 282px;
    }
}