.header {
    max-width: 880px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    margin: 0px auto 40px;
}

@media (max-width: 1000px) {
    .header {
        width: calc(100% - 2*100px);
    }
}

@media (max-width: 720px) {
    .header {
        width: 100%;
    }
}